* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-weight: 300;
  --regular-weight: 400;
  --semi-bold: 600;
  --bold-weight: 700;
  --extra-bold: 800;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #edded2c8;
  font-family: "Open Sans", sans-serif;
  width: 70rem;
  margin: 0 auto;
}

.tab {
  display: inline-block;
  padding: 1.2rem 2rem;
  background-color: #bd834c;
  color: white;
  cursor: pointer;
  font-weight: var(--regular-weight);
}

.tab-chosen {
  background-color: white;
  color: #bd834c;
}

.tab-content {
  background-color: white;
  padding: 1.4rem 2rem;
}

.tab-content-heading {
  font-size: 2rem;
  font-weight: var(--semi-bold);
  margin-bottom: 1rem;
}

.tab-content-texts {
  line-height: 2rem;
  font-weight: var(--light-weight);
  text-align: justify;
}

.tab-content-hide {
  display: none;
}

#content img {
  display: block;
  margin: 2rem auto;
}

#content>h1 {
  text-align: center;
  margin: 1rem 0;
  color: #bd834c;
  font-size: 4rem;
  font-weight: var(--extra-bold);
}

#content>p {
  font-weight: var(--regular-weight);
  text-align: justify;
}